.sq-nav-secondaire {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1rem;

    a {
        display: inline-flex;
        align-items: center;
        gap: .5rem;
        text-decoration: none;
        color: rgb(0, 0, 22);
        font-family: Roboto, sans-serif;

        &:hover {
            color: rgb(195, 86, 0);
        }
    }

    li:not(:nth-last-child(1)) {
        &::after {
            content: "|";
            display: inline-block;
            padding-left: 1rem;
        }
    }
}