.soquij-header {
    position: sticky;
    top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .0784313725);
    width: 100hw;
    display: flex;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #ffffff;
    z-index: 1500;

    .soquij-nav {
        display: grid;
        width: 100vw;
        max-width: 1920px;
        margin: auto;
        padding-inline: 2rem;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: max-content;
        grid-column-gap: 2rem;
        box-sizing: border-box;
        padding-bottom: 1.5rem;
        padding-top: 1.125rem;
        background: white;

        &--liens-secondaires {

            grid-column-end: span 12;
            justify-self: end;
            grid-column-gap: 0;

            ul {
                display: flex;
            }
        }

        &--toolbar {
            grid-column-end: span 12;
            align-items: flex-end;
            height: 80px;
            display: flex;
        }

        &--logo {
            margin-left: -1.375rem;
            margin-right: 96px;
        }

        &--megamenu {
            flex-grow: 1;
            height: 1.5rem;
            align-self: center;
            margin-top: 12px;

            >nav>div {
                position: static !important;
            }
        }

        &--boutons {
            display: flex;
            gap: 1rem;
        }
    }
}