@import '../../Styles/couleurs';

.sq-link {
    font-family: Roboto, sans-serif;
    color: $SqNoir;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.16px;
    text-decoration: none;
    position: relative;

    .sq-icon {
        margin-left: .5rem;
        position: absolute;
    }

    &:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 2px #fff, 0 0 0 5px #007aff;
    }

    &--variant-default {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-color: $SqOrange900;
        text-underline-offset: 4.5px;
        transition: all .4s ease-in-out;

        &:hover {
            text-decoration-thickness: 2px;
            background-color: $SqGrisMoyen;
        }
    }

    &--variant-footer {
        font-size: 0.8125rem;
        line-height: 1.25rem;
        letter-spacing: 0.13px;
        color: $SqGrisFermont;
        transition: all .4s ease-in-out;

        &:hover {
            text-decoration-thickness: 2px;
            text-decoration: underline;
            text-underline-offset: 4.5px;
            text-decoration-color: $SqGrisFermont;
            background-color: $SqGrisMoyen;
        }

        .sq-icon {
            margin-left: .3rem;
            width: .75rem;
            height: .75rem;
        }
    }

    &--variant-megamenu {

        display: inline-block;
        padding-block: 1px;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $SqWhite;
            color: $SqOrange900;
        }
    }

    &--size-small {
        font-size: 0.8125rem;
        line-height: 1.25rem;
        letter-spacing: 0.13px;

    }

    &--theme-dark {
        color: $SqGrisRouyn;

        &:hover {
            background-color: rgba(255, 255, 255, 0.15);
        }
    }

}