.sq-nav-primaire--sous-menu {
    display: none;
    background: #f2f2f2;
    opacity: 0;
    transform: translateY(-50px);
    position: absolute;
    left: 0;
    top: 152px;
    width: 100%;
    height: auto;

    &.show {
        display: block;
        animation: slide-down 1000ms forwards, fade-in 500ms forwards;
    }

    &.isClosing {
        animation: slide-up 1000ms forwards, fade-out 500ms forwards;
    }

    .wrapper {
        display: grid;
        grid-template-columns: #{repeat(10, minmax(0, 1fr))};
        grid-gap: 1.5rem;
        max-width: 1920px;
        margin: 0 auto;
        padding-block: 96px;
        padding-inline: 1.5rem;

        .SqMegaMenu-MenuItem {
            padding: 0;
            grid-column-end: span 2;
            cursor: auto;

            &:hover {
                background-color: transparent;
            }

            &.SqMegaMenu-ColonneImage {
                grid-column: 1/3;
                grid-row-end: span 2;
                margin-bottom: 1.5rem;
            }
        }

        ul {
            margin: 0;
            list-style: none;
            padding: 0;
        }
    }
}




@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50px);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}