.sq-nav-primaire {
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
    margin: 0;
    padding: 0;

    a,
    button {
        display: inline-flex;
        align-items: center;
        gap: .5rem;
        padding: 0;
        background: none;
        border: none;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        color: rgb(0, 0, 22);
        font-family: Roboto, sans-serif;
        font-size: 18.672px;
        font-weight: 400;
        height: auto;
        letter-spacing: 0.19px;
        line-height: 22px;
        padding-bottom: 4px;
        transition: color .4s ease;


        &:hover,
        &[data-state="open"] {
            color: rgb(195, 86, 0);


            .sq-icon--fleche {
                transform: rotate(180deg);

                svg {
                    stroke: rgb(195, 86, 0);
                }
            }
        }
    }
}

.NavigationMenuContent {
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    background: #f2f2f2;
    height: 200px;
}